#fog {
  position: relative;
  top: -80vh;
  width: 95%;
  height: 80vh;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  z-index: 99;
}

canvas {
  display: block;
  /*background-image: url(http://lorempixel.com/800/600/cats/6);*/
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}